
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;   
    background-color: #abc;
    
    h1{
        margin: 50px auto;
        text-align:center;
        color:#000;
        font-family: 'Abril Fatface', cursive;
        font-size:40px;
    }

    .lyrics {
        width:350px;
        text-align: center;
        margin: 0 auto;        
    }
}